@import "reset";
@import "mixin";

body {
  --primary-color: #006e2f;
}

.ant-table-wrapper .ant-table-thead>tr,
.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
  background-color: #00A08E;
  color: #fff;
  font-size: 20px;
}

.ant-table-cell {
  font-size: 20px;
  background: var(--material-theme-sys-light-surface-bright, #F7FAF8);
  box-shadow: 0px -1px 0px 0px rgba(0, 110, 47, 0.30) inset;
}