@import "reset";
@import "mixin";

:where(.css-dev-only-do-not-override-kqecok).ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-dev-only-do-not-override-kqecok).ant-table-wrapper .ant-table-thead > tr > td {
  background-color: #006e2f;
  color: #fff;
  font-size: 20px;
}

.ant-table-cell {
  font-size: 20px;
}
