.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  display: flex;
  padding: 19.805px;
  justify-content: center;
  align-items: center;
  gap: 19.805px;
  font-size: 43px;
  font-weight: 500;
  color: #fff;
  border-radius: 12.786px;
  background: linear-gradient(180deg, #f49002 0%, #d15f07 100%);
}

.title-wrap {
  width: 100%;
  .flex-row;
  justify-content: space-between;


  .title-info {
    h3 {
      font-size: 48px;
      font-weight: 600;
      color: #000;
    }

    span {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .tab-list {
    .flex-row;
    gap: 20px;

    .tab-item {
      display: flex;
      gap: 20px;
      font-size: 30px;
      font-weight: 600;
      cursor: pointer;

      &::after {
        display: block;
        content: '/';
        color: #000;
      }

      &:last-child::after {
        content: '';
      }

      &.active {
        border-radius: 12px;
        color: #006B5E;
      }
    }
  }

}

.content-wrap {
  width: 100%;
  flex: 1;
  padding-top: 200px;
}